<section class="text-container">
    <div class="secondary-text-container">
        <a class="btn btn-default" href="#/find-closet" role="button">Back to My Closets</a>
        <h1>Add A Closet</h1>
        <div class="line-decoration">
            <img src="./assets/images/line-decoration.png">
        </div>
        <form ng-submit="add.addCloset(add.newCloset)">
            <div class="form-group">
                <label for="exampleInputEmail1">Closet Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter title" ng-model="add.newCloset.closetTitle">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter subhead" ng-model="add.newCloset.subhead">
            </div>
            <a href="#" id="upload_widget_opener">Upload multiple images</a>
                <label for="exampleInputFile">File input</label>
<!--
            <div class="form-group">
                <input type="file" id="exampleInputFile">
                <p class="help-block">Upload a cover photo for your closet</p>
            </div>
-->
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</section> 
