<section class="text-container">
    <div class="secondary-text-container">
        <a class="btn btn-default" href="#/find-closet" role="button">Back to My Closets</a>
        <h1>Add A Closet</h1>
        <div class="line-decoration">
            <img src="./assets/images/line-decoration.png">
        </div>
        <form ng-submit="add.addCloset(add.newCloset)">
            <div class="form-group">
                <label for="exampleInputEmail1">Closet Name</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" ng-model="add.newCloset.closetTitle">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Closet Description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Description" ng-model="add.newCloset.subhead">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</section> 
