<section class="text-container">
    <div class="secondary-text-container">
        <a class="btn btn-default" ui-sref="search" role="button">Back to My Closets</a>
        <h1>{{closet.info.closetTitle}}</h1>
        <div class="line-decoration">
            <img src="./assets/images/line-decoration.png">
        </div>
<!--        ({closetId: closet.myCloset.$id})-->
<!--        closets({userId: closet.myCloset.$id, closetId: closet.myCloset.$id})-->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a ui-sref="closets.shirts" class="clothing-thumbnail thumbnail shirts">
                    <img src="../assets/images/shirts.png" alt="...">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a ui-sref="closets.pants" class="clothing-thumbnail thumbnail pants">
                    <img src="../assets/images/pants.png" alt="...">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a ui-sref="closets.shoes" class="clothing-thumbnail thumbnail shoes">
                    <img src="../assets/images/shoes.png" alt="...">
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3">
                <a ui-sref="closets.access" href="#access" class="clothing-thumbnail thumbnail accessories">
                    <img src="../assets/images/accessories.png" alt="...">
                </a>
            </div>
        </div>
        <section class="text-area">
            <p class="main-paragraph">Select a category you would like to add too. Then use the upload form provided to add your clothing articles to the specific categories.</p>
        </section>
        <hr>
        <div ui-view></div><!--view for upload forms-->
    </div>
</section> 





<!--
        <form ng-show="shirt" ng-submit="add.addCloset(add.newCloset)">
            <div class="form-group">
                <label for="exampleInputEmail1">Shirt Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter title" ng-model="add.pants.title">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter subhead" ng-model="add.pants.subhead">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Upload a cover photo for your closet</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <form ng-show="pants" ng-submit="add.addCloset(add.newCloset)">
            <div class="form-group">
                <label for="exampleInputEmail1">Pants Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter title" ng-model="add.pants.title">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter subhead" ng-model="add.pants.subhead">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Upload a cover photo for your closet</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <form ng-show="shoes" ng-submit="add.addCloset(add.newCloset)">
            <div class="form-group">
                <label for="exampleInputEmail1">Shoe Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter title" ng-model="add.pants.title">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter subhead" ng-model="add.pants.subhead">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Upload a cover photo for your closet</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <form ng-show="accessories" ng-submit="add.addCloset(add.newCloset)">
            <div class="form-group">
                <label for="exampleInputEmail1">Accessory Title</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter title" ng-model="add.pants.title">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Description</label>
                <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter subhead" ng-model="add.pants.subhead">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Upload a cover photo for your closet</p>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
-->
