<h3>Shirts</h3>
<form ng-submit="shirt.addShirt(shirt.newShirt)">
    <div class="form-group">
        <a class="btn upload-btn"id="upload_widget_opener">Upload Image</a>
        <input ng-model="shirt.newShirt.image" value="{{shirt.newShirt.image}}" placeholder="Image will go here">
        <label class="upload-label" for="exampleInputFile">While you wait for your image to upload above, give your shirt some details below!</label>
    </div>
    <div class="form-group">
        <label class="label-text" for="exampleInputEmail1">Shirt Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" ng-model="shirt.newShirt.title">
    </div>
    <div class="form-group">
        <label class="label-text" for="exampleInputPassword1">Description</label>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Description" ng-model="shirt.newShirt.subhead">
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<hr>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3" ng-repeat="shirts in shirt.shirt">
        <a href="#" class="img-thumbnail">
            <img ng-src="{{shirts.image}}" alt="...">
        </a>
        <div class="clothing-info-container">
            <h4 class="clothing-title">{{shirts.title}}</h4>
            <p class="main-paragraph">{{shirts.subhead}}</p>
        </div>    
    </div>
</div>